#addClassBtn{
position:fixed;
display:block;

}
.mainContainer{
width:100%;

}

.createClassForm{
width:80%;

display:inline-block;
margin-top:2%;
margin-left:20%
}
.leftMenu{
width:20%;

border:solid;
height:80%;
position:fixed;
top:10%;
left:2%
}